@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 109, 145, 120;
  --background-end-rgb: 122, 148, 214;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.desktop {
  padding: 45px 20px 30px 20px;
  background: hsla(164, 25%, 44%, 0.471);
  border-radius: 20px;
}

.text_align_center {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  min-height: 100vh; /* 使用 min-height 來確保即使內容超出也能夠延長 */
  overflow: auto; /* 使用 overflow 屬性來顯示滾動條，以便處理超出的內容 */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.with-border {
  border-right: 1px solid #ddd; /* 右边框 */
}